@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Arsenal&family=Montserrat&family=Oswald:wght@700&family=Roboto&display=swap');

body {
  font-family: "Arsenal", sans-serif;
  font-size: 2rem;
}

.h1, .h2, .h3, .h4, .h5 {
  font-family: "Montserrat", sans-serif;
  color: #292929;
  font-style: normal;
}

h1, .h1, h2, .h2 {
  margin-bottom: 6rem;
}

h6, .h6 {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  color: #292929;
  font-style: normal;
}

/*@media only screen and (max-width: 600px) {
    h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
        margin-top: 5.1rem;
    }
}*/


@media only screen and (max-width: 600px) {
    h1, .h1 {
        font-size: 3.3rem;
        letter-spacing: -.07rem;
    }
}

.small-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-header {
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  bottom: 0;
}

.test {
  margin-left: 2;
  margin-top: 10;
}

.intro {
  font-family: "Oswald", sans-serif;
  font-size: 8.5rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 108px;
  text-transform: none;
  color: #FFFFFF;
  text-shadow: 1px 2px 5px #555555;
}

.dropdown {
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  color: #292929;
  font-style: normal;
}

/*<div class="form-group shiny-input-container">
  <label class="control-label shiny-label-null" for="TEST"></label>
  <select id="TEST" class="selectpicker form-control"><option value="test">test</option>
<option value="this">this</option></select>
</div>*/



/*.btn-lg:hover {
  background-color: rgba(0,0,0,0.5) !important;
  border-style: hidden;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}*/






.code-link {
  color: #f27405 !important;
  font-size: 5.8rem;
}

.web-link {
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  bottom: 0;
}

.light {
  color: #FFFFFF;
}

.dark {
  color: #222222;
}

.shift-up {
  position: relative;
  bottom: 120px;
}

a:hover {
  color: #f27405;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 6px;
}

.fa-globe:hover {
  color: #f27405 !important;
}

.fa-linkedin-in:hover {
  color: #f27405 !important;
}

.fa-twitter:hover {
  color: #f27405 !important;
}

.fa-github:hover {
  color: #f27405 !important;
}
