@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Arsenal&family=Montserrat&family=Oswald:wght@700&family=Roboto&display=swap');

body {
  font-family: "Arsenal", sans-serif;
  font-size: 1.3rem;
}

.h1, .h2, .h3, .h4, .h5 {
  font-family: "Montserrat", sans-serif;
  color: #292929;
  font-style: normal;
}

h1, .h1, h2, .h2 {
  margin-bottom: 6rem;
}

h3, .h3 {
  font-size: 2.0rem;
  margin: 10px 10px 8px 10px;
}

h5, .h5 {
  text-align: center;
  margin: 3px;
}

h6, .h6 {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  color: #292929;
  font-style: normal;
}


@media only screen and (max-width: 600px) {
    h1, .h1 {
        font-size: 3.2rem;
        letter-spacing: -.07rem;
    }
}

.chart-as-of-date {
  font-style: italic;
  text-align: center;
}

.table-as-of-date {
  font-style: italic;
  text-align: center;
}

.small-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fp-controlArrow {
  border-color: transparent rgba(127,127,127,0.5) transparent !important;
}

.about-header {
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  bottom: 0;
}

.intro {
  font-family: "Oswald", sans-serif;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 80px;
  text-transform: none;
  color: #FFFFFF;
  text-shadow: 1px 2px 5px #555555;
}

.dropdown {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #292929;
  font-style: normal;
}

.code-link {
  color: #f27405 !important;
  font-size: 5.8rem;
}

.web-link {
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  bottom: 0;
}

.light {
  color: #FFFFFF;
}

.shift-up {
  position: relative;
  bottom: 115px;
}

a:hover {
  color: #f27405;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer-about {
  position: fixed;
  width: 100%;
}

.fa-globe:hover {
  color: #f27405 !important;
}

.fa-linkedin-in:hover {
  color: #f27405 !important;
}

.fa-twitter:hover {
  color: #f27405 !important;
}

.fa-github:hover {
  color: #f27405 !important;
}
